In [5]:
import pandas as pd
df = pd.read_csv ('data/data.csv')
print(df)

    InvoiceNo StockCode                          Description  Quantity  \
0      536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1      536365     71053                  WHITE METAL LANTERN         6
2      536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3      536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4      536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
..        ...       ...                                  ...       ...
95     536378     22352    LUNCH BOX WITH CUTLERY RETROSPOT          6
96     536378     21212      PACK OF 72 RETROSPOT CAKE CASES       120
97     536378     21975       PACK OF 60 DINOSAUR CAKE CASES        24
98     536378     21977   PACK OF 60 PINK PAISLEY CAKE CASES        24
99     536378     84991          60 TEATIME FAIRY CAKE CASES        24

       InvoiceDate  UnitPrice  CustomerID         Country
0   12/1/2010 8:26       2.55       17850  United Kingdom
1   12/1/2010 8:26       3.39       17850  United Kingdom
2   12/1/2010 8:26       2.75       17850  United Kingdom
3   12/1/2010 8:26       3.39       17850  United Kingdom
4   12/1/2010 8:26       3.39       17850  United Kingdom
..             ...        ...         ...             ...
95  12/1/2010 9:37       2.55       14688  United Kingdom
96  12/1/2010 9:37       0.42       14688  United Kingdom
97  12/1/2010 9:37       0.55       14688  United Kingdom
98  12/1/2010 9:37       0.55       14688  United Kingdom
99  12/1/2010 9:37       0.55       14688  United Kingdom

[100 rows x 8 columns]

## Recent customer: 5 Kustomer yang paling terakhir berbelanja

In [11]:
df = df.groupby('CustomerID', as_index=False).agg({"InvoiceDate": "max"})
df[:5]

   CustomerID     InvoiceDate
0       12583  12/1/2010 8:45
1       13047  12/1/2010 8:35
2       13748  12/1/2010 9:00
3       14688  12/1/2010 9:37
4       15100  12/1/2010 9:09